<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xl-5"></div>
            <div class="col-xl-7">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="dropdown nav-item" style="white-space: nowrap">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Thể loại</a>
                            <div class="dropdown-menu">
                                <!-- <h6 class="dropdown-header">Dropdown header</h6> -->
                                <a href="#pablo" class="dropdown-item">Hành động</a>
                                <a href="#pablo" class="dropdown-item">Chiến thuật</a>
                                <a href="#pablo" class="dropdown-item">Phiêu lưu</a>
                                <a href="#pablo" class="dropdown-item">Đua xe</a>
                                <div class="dropdown-divider"></div>                               
                            </div>
                        </li>

                        <li class="active nav-item" style="white-space: nowrap">
                            <a href="#" class="nav-link">Top 10 Download</a>
                        </li>

                        <li class="nav-item" style="white-space: nowrap">
                            <a href="#" class="nav-link">Giới thiệu</a>
                        </li>

                        <li class="nav-item" style="white-space: nowrap">
                            <a href="#" class="nav-link">Liên lạc</a>
                        </li>

                        <li class="dropdown nav-item" style="white-space: nowrap">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="material-icons">language</i> Ngôn ngữ</a>
                            <div class="dropdown-menu">
                                <a href="#pablo" class="dropdown-item">English</a>
                                <a href="#pablo" class="dropdown-item">Tiếng Việt</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

