

<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
    id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">
                HD Store Online </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" target="_blank"
                        data-original-title="Follow us on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" target="_blank"
                        data-original-title="Like us on Facebook">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                        href="https://www.instagram.com/dinhhai.js" target="_blank"
                        data-original-title="Follow us on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <!-- Search -->
                    <form class="form-inline ml-auto">
                        <div class="form-group">
                            <input type="text" class="form-control" style="color: gainsboro" placeholder="Tìm kiếm trò chơi ...">
                        </div>
                        <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
                            <i class="material-icons">search</i>
                        </button>
                    </form>
                </li>
                {{#if isLogin}}
                <li class="nav-item">                    
                    <a class="nav-link" href="/editprofile"><i class="material-icons">account_box</i> {{username}}</a>
                </li>
                <li class="nav-item">   
                    <form method="POST" action="/logout">
                        <button class="nav-link" type="submit" style="background: transparent;border: transparent"><i class="fa fa-power-off" aria-hidden="true"></i></button>                        
                    </form> 
                </li>
                <li class="nav-item">   
                    <a class="nav-link" role="button" href="/cart" style="background: transparent;border: transparent"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a>                        
                </li>
                {{else}}
                <li class="nav-item"> 
                    <a class="nav-link" href="/login"><i class="material-icons">account_box</i> Đăng nhập</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/signup">Đăng kí</a>                
                </li>
                {{/if}} 


                <!-- <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">settings</i>
                    </a>
                    <div class="dropdown-menu dropdown-with-icons">
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">layers</i> All Components
                        </a>
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">content_paste</i> Documentation
                        </a>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</nav> 
