<div class="card card-nav-tabs mt-5">
    <div class="card-header card-header-danger">Game mới
        <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
    </div>
    <div class="card-body ">
        <div class="row">
            {{#each newproducts}}
            <div class="col-4">
                <div class="card bg-dark">
                    <div class="card-body">
                        <h4>PUBG</h4>
                        <img src="{{img}}" height="100" width="150" alt="">
                        <h4>Description</h4>
                    </div>
                    <div class="card-footer">
                        <a href="/product/{{id}}" class="btn btn-danger">Chi tiết</a>
                        <a class="btn btn-success">Mua</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>


    </div>
</div>