<div class="card card-nav-tabs mt-5">
        <div class="card-header card-header-danger">New Product
            <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
        </div>
        <div class="card-body ">
            
        
        </div>
    </div>