<div class="section section-contacts">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Liên hệ</h2>
            <h4 class="text-center description">Để đem đến những dịch vụ tốt nhất cho khách hàng, nếu có bất kì thắc mắc gì, 
                vui lòng để lại lời nhắn tại đây! Xin cảm ơn!</h4>
            <form class="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Tên</label>
                            <input type="email" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Email</label>
                            <input type="email" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleMessage" class="bmd-label-floating">Nội dung</label>
                    <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto text-center">
                        <button class="btn btn-primary btn-raised">
                            Gửi
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>