<div class="card card-nav-tabs mt-5">
    <div class="card-header card-header-success">
        <div class="row">
            <div class="col-6">
                <h4 style="color: black"><b>Thêm thể loại</b></h4>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <form class="contact-form" method="post">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="bmd-label-floating">Nhập tên thể loại</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto text-center">
                        <button class="btn btn-primary btn-raised" type="submit">
                            Thêm
                        </button>
                    </div>
                </div>
        </form>
    </div>
</div>