<div class="card card-nav-tabs mt-5">
    <div class="card-header card-header-success">
        <div class="row">
            <div class="col-6">
                <h4 style="color: black"><b>QUẢN LÝ THỂ LOẠI</b></h4>
            </div>
            <div class="col-6 text-right">
                <button class="btn btn-default btn-link" style="display: inline; margin-right:0;"><i class="fa fa-plus" style="color: black" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Số lượng game</th>
                        <th>Ngày đăng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Hành động</td>
                        <td>10</td>
                        <td>12/05/2019</td>
                        <th class="text-right">
                            <a class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </th>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Thể thao</td>
                        <td>4</td>
                        <td>12/04/2019</td>
                        <th class="text-right">
                                <a class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </th>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </div>

    </div>
</div>