<div class="card card-nav-tabs mt-5">
    <div class="card-header card-header-success">
        <div class="row">
            <div class="col-6">
                <h4 style="color: black"><b>QUẢN LÝ NHÃN</b></h4>
            </div>
            <div class="col-6 text-right">
                <a href="/admin/addtag"><button class="btn btn-default btn-link" style="display: inline; margin-right:0;"><i class="fa fa-plus" style="color: black" aria-hidden="true"></i></button></a>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên</th>
                        <th>Ngày đăng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tags}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{name}}</td>
                        <td>{{createddate}}</td>
                        <td class="text-right">
                            <a href="/admin/edittag/{{this.id}}" class="btn btn-warning">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>